/*Botones del menu*/
.li-menu{
	background-color: #424A5D;
	color:white;
	padding-left:5px;
}
.li-menu:hover{
	background-color: #000000;
}
/*iconos*/
.white{
	color: white;
}
.icon-red{
	border-radius:50%;
	border-color:solid 2px white;
	padding:2%;	
}
/*margin*/
.margin{
	margin-top:5%;
}
/*boton de descarga*/
.btn-des{
	border:white solid 1px;
	color:black;
	margin-bottom:5%;
}
/*boton contacto*/
.btt-ctc{
	background-color: rgb(24, 188, 156);
	color: white;
	text-align: center;
}
/*pading*/
.padding{
	padding-left:15%;
}
#padding{
	padding-left:25%;
}
/*FOOTER*/
.sub-fot{
	background-color:#1A334C;
	color:white;
	padding:3%;
}
footer{
	background-color:#14293D;
	padding-top:2%;
	color:white;
}